@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f7fce8;
	color: #2d2d2d;
}

.navbar {
	background-color: #4d7c4d;
	padding: 10px 5px;
	text-align: center;
}

.nav-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.nav-list a {
	color: white;
	text-decoration: none;
	font-weight: 600;
	transition: background-color 0.8s ease;
}

.nav-list a:hover {
	background-color: rgb(37, 102, 42);
	padding: 8px 3px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.stats {
  text-align: center;
  padding: 40px 20px;
}

.stats h1 {
  font-size: 2em;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 220px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 2em;
  color: #f08030;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
  color: #333;
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
} 
