@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f7fce8;
	color: #2d2d2d;
}

.navbar {
	background-color: #4d7c4d;
	padding: 10px 5px;
	text-align: center;
}

.nav-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.nav-list a {
	color: white;
	text-decoration: none;
	font-weight: 600;
	transition: background-color 0.8s ease;
}

.nav-list a:hover {
	background-color: rgb(37, 102, 42);
	padding: 8px 3px;
}

.mapa-container {
  padding: 40px 20px;
  text-align: center;
}

.mapa-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #2f5e38;
}

.mapa-container p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

#mapa {
  height: 500px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Responsivo */
@media (max-width: 600px) {
  .mapa-container h1 {
    font-size: 1.6em;
  }
  .mapa-container p {
    font-size: 1em;
  }
  #mapa {
    height: 400px;
  }
}
